.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.7;
    background-image: linear-gradient(to right,rgb(21, 12, 75),rgb(125, 134, 211));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.Toolbar nav {
    height: 100%;
}

.Logo {
    height: 110%;
}

@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}